$main_purple: #a64ac9;

$background-peach: #febb9a;

$main_blue: #0c56fb;
$main_orange: #fd5c36;

$font_white: #ffffff;
$font_light_grey: #c6cedf;
$font_dark-grey: #516f90;;
$font_dark: #2e475d;

$red_regular: #fa4e4d;
$red_dark: #df0a05;
$red_light: #fff2f2;

$orange_dark: #ff5c35;
$orange_medium:#FBA81F;
$orange_light:#fef5eb;

//$blue_regular: #1f8eff;
// $blue_dark: #0c70cb;
// $blue_dark_transparent: rgb(12, 112, 203, .7);
// $blue_light: #ebf7ff;


$blue_dark: var(--dark-color);
$blue_light: var(--light-color);
$blue_regular: var(--medium-color);
$main_accent: var(--accent-color);
$black_regular: #2e475d;

$black_light: #6E7072;

$gray_dark: #8D8E91;
$gray_regular: #C8C9CA;
$gray_light: #E3E3E3;

$border_light: #c6cedf;

$box-shadow-light: rgba(33, 51, 67, 0.12);

