.social-icon {
    color: $font_white;
    height: 3rem;
    width: 3rem;
    background-color: $blue_dark;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px $blue_dark;
    text-decoration: none;
    transition: 0.25s;
    &:hover {
        box-shadow: 0 -3.25em 0 0 $font_white inset;
        color: $blue_dark;
        border-color: $blue_dark;
    }
    >img {
        width: 20px;
        height: auto;
    }
    &-border-white {
        border-color: $font_white;
        &:hover {
            box-shadow: 0 -3.25em 0 0 $font_white inset;
            color: $blue_dark;
            border-color: $font_white;
        }
    }
    
}